body {
    font-family: 'Segoe UI', Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    padding: 12px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
    padding: 20px;
    border-radius: 8px;
    /*box-shadow: 0 0 10px rgba(0,0,0,0.1);*/
    width: 90%;
    text-align: center;
}

h1 {
    margin-bottom: 20px;
}

form {
    display: flex;
    margin-bottom: 20px;
}

input {
    flex: 1;
    border: none;
    border-radius: 16px;
    padding: 20px;
    box-sizing: border-box;
    height: 50px;
    color: #444;
}

button {
    border: none;
    background-color: #DF9CFE;
    color: white;
    border-radius: 16px;
    cursor: pointer;
    font-size: 2rem;
    width:50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: relative;
}

button:hover {
    background-color: #cc91e8;
}

#lists-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(50%, 1fr));
    gap: 20px;
    border-radius: 16px;

}

.list {
    background: white;
    padding: 20px;
    border-radius: 8px;
    /*box-shadow: 0 0 10px rgba(0,0,0,0.1);*/
}

.list-header {
    display: flex;
    justify-content:flex-start;
    gap: 32px;
    align-items: center;
    margin-bottom: 10px;
    flex-direction: column;
}

.list-header h2 {
    margin: 0;
    font-weight: 500;
}

.list-header button {
    background: black;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 16px;
    cursor: pointer;
    font-size: 1rem;
    width: 100%;

}

.list-header button:hover {
    background: #212121;
}

.item-list-form {
    display: none;
    flex-direction: column;
    margin-bottom: 10px;
    
}

.item-list-form input {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 16px;
    margin-bottom: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.item-list-form button {
    padding: 10px;
    border: none;
    background-color: black;
    color: white;
    border-radius: 16px;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
}

.item-list-form button:hover {
    background-color: #cc91e8;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    padding: 10px;
    background: none;
    margin-bottom: 12px;
    border-bottom: 1px solid #ddd;
    display: flex;
    justify-content: space-between;
    text-align: left;
}

li a {
    flex: 1;
    color: #090909;
    text-decoration: none;
}

li a:hover {
    text-decoration: underline;
}

li button {
    background: #ffffff00;
    color: white;
    border: none;
    cursor: pointer;
    background-image: url(img/remove.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    font-size: 2px;
    color: #ffffff00;
}

li button:hover {
    background: #000000;
}
.icon-button {
    width: 24px; /* Dostosuj rozmiar do wymagań */
    height: 24px;
    cursor: pointer;
    margin-left: 8px; /* Dostosuj marginesy według potrzeb */
}
nav{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
nav img{
    width: 4rem;
}